<h3>Ruby on rails books via Google Books API</h3>
<% if @volumes.nil? %>
<h4>Oops!</h4>
<p>No results found. Either nothing matched your criteria or there was a problem with the Google Books API (maybe the quota for requests has been used up).</p>
<% else %>
<p>Google seems to change its mind all the time about how many books match the query "ruby on rails". This time Google claims there are a total of <%= @total_items %> Rails books.</p>

<% paginator_html = paginator(@page,@page_count) %>
<%= paginator_html %>

<ul class="book_list">
	<% @volumes.each do |volume| %>
	  <li>
			<div class="book">
				<a href="http://books.google.nl/books?id=<%= volume.id %>">
					<div class="book_cover"><img src="<%= volume.image_link(:zoom => 5) %>"></div>
					<div class="book_detail">
						<div class="book_title"><%= book_title(volume.title) %></div>
						<div class="book_authors"><%= volume.authors %></div>
					</div>
				</a>
				<div style="clear:left"></div>
			</div>
		</li>
	<% end %>
</ul>

<%= paginator_html %>
<% end %>